<header class="navbarheader">
	<div class="container-fluid mynavbar">
		<div class="row">
			<div class="col-md-3 col-sm-12">
				<a href="#">Blog Website</a>
			</div>

			<div class="col-md-9 col-sm-12 text-end">
				<a href="#">HOME</a>
				<a href="#">ABOUT</a>
				<a href="#">SERVICE</a>
				<a href="#">CONTACT US</a>
			</div>
		</div>
	</div>

	<div class="carousel-container">
		<div class="carousel">
			<div class="carousel-item">
				<p> This is paragraph 1</p>
			</div>
			<div class="carousel-item">
				<p>This is paragraph 2</p>
			</div>
			
		</div>
		<button class="prev" onclick="moveSlide(-1)">&#10094;</button>
		<button class="next" onclick="moveSlide(1)">&#10095;</button>
	</div>
</header>

